.title > p{
    margin: 0;
}
.category_by_title{
    padding: 15px;
    border: 1px dotted #ccc;
}
.drone-slider-content{
    margin-top: 35px;
    width: 570px;
    height: 469px;
    background: #30251F;
}